body {
    width: 500px;
    margin: 5% auto 5%;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
}

form {
    display: flex;
    flex-direction: column;
    background-color: #EFEFEF;
}

label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 16px 0 16px;
}

input {
    padding: 5px;
    text-align: center;
}

select {
    padding: 5px;
}

.sex {
    margin: 16px 16px 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: none;
    padding: 0;
    margin-right: 0;
}

.sex label {
    margin: 0 16px 0 16px;
    padding: 5px;
}

fieldset label:hover,
fieldset button:hover,
.agrement:hover,
.agrement input:hover {
    cursor: pointer;
}

option:first {
    color: gray;
}

textarea {
    margin: 16px 0 0 16px;
    font-size: 20px;
    text-align: center;
    font-family: inherit;
    width: 200px;
    height: 80px;
}

.agrement {
    justify-content: unset;
    margin-left: 12px;
    font-size: 14px;
}

.buttons {
    border: none;
    text-align: center;
    margin: 0;
}

button {
    margin: 16px 0 0 16px;
    font-size: 17px;
}



/* TODO: Роздуплитись як зробити всі поля в один стовпчик, один під одним з вирівнюванням полівому краю, а текст-підпис по правому* Підглянути стилі у Кості: https://kozzztia.github.io/form-lesson//